@font-face {
    font-family: "JetBrains Sans";
    src: url("fonts/JetBrainsSans-Regular.woff2");
}

@font-face {
    font-family: "ZZZ";
    src: url("fonts/ZZZ.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "JetBrains Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: #050505;
}

.maintenanceCard {
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 40px;
    border-radius: 32px;
    text-align: center;
    margin-top: 5rem;

    width: 95%;
    max-width: 1100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.constructionGif {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 16px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.constructionGif video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*.constructionGif:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 100%);*/
/*    pointer-events: none;*/
/*}*/

#constructionText {
    font-family: 'ZZZ', sans-serif;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: white;
    letter-spacing: 1px;
    margin: 0;
    /* This adds a glow to the text to match the GIF's energy */
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

#constructionText a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.lol {
    width: 100%;
    height: auto;
    margin: 40rem;
    display: block;
}