@font-face {
    font-family: "JetBrains Sans";
    src: url("fonts/JetBrainsSans-Regular.woff2");
}

@font-face {
    font-family: "ZZZ";
    src: ZZZ.ttf;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "JetBrains Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    align-items: center;

    background-repeat: no-repeat;
    background-size: contain;
}

#constructionText {
    margin-top: 20vh;
    font-family: ZZZ.ttf;
}

.constructionGif {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}
.constructionGif img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}